.u-section-1 {
  background-image: url("images/NORIROZ.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 452px;
  background-image: none;
  margin: 27px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0 8px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 1px 10px 0;
}

.u-section-1 .u-form-1 {
  margin-top: 17px;
  margin-bottom: 0;
  height: 318px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 33px auto 46px;
  padding: 11px 26px 12px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-group-1 {
    min-height: 461px;
    margin-top: 32px;
  }

  .u-section-1 .u-text-1 {
    width: 550px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-bottom: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    min-height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 8px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-group-1 {
    min-height: 442px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }
}